<!-- my issues -->
<h2 class="colored-text headline">Issues</h2>
<div class="issue col-md-12 no-padding" *ngFor="let issue of issues">
    <div class="col-md-6 issue-info-container">
        <mat-icon class="upvote">keyboard_arrow_up</mat-icon>
        <p class="display-inline score">{{issue.score}}</p>
        <mat-icon class="downvote">keyboard_arrow_down</mat-icon>

        <h2 class="colored-text display-inline">{{issue.title}}</h2>
        <!-- <span class="minus-one display-inline">-</span>
            <span class="plus-one display-inline">+</span> -->
        <p class="description">{{issue.description}}
        </p>
        <div class="col-md-12 no-padding image-container" *ngIf="issue.photos.length!==0">
            <div class="image-holder">
                <img src="{{issue.photos[0]?.path}}" />
            </div>
            <div class="image-holder float-right">
                <img src="{{issue.photos[1]?.path}}" />
            </div>
        </div>
        <div class="info-holder">
            <p class="comments">{{issue.commentNumber}} comments</p>
            <button (click)="navigateToIssue(issue)" class="float-right go-to-issue-btn simple-button-style">See more
                <mat-icon class=" float-right">arrow_forward</mat-icon>
            </button>
        </div>
    </div>
    <agm-map [zoom]="15" class="map col-md-6 no-padding" [latitude]="issue.location.latitude" [longitude]="issue.location.longitude">
        <agm-marker [latitude]="issue.location.latitude" [longitude]="issue.location.longitude" [markerDraggable]="false"></agm-marker>
    </agm-map>

</div>