@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$primary_color:red;
$secondary_color:orange;
body{
    font-family: 'Ubuntu', sans-serif !important;
}
.full-width{
    width: 100%;
}

.button-gradient {
	background: $primary_color;
	background: linear-gradient(to right, $primary_color , $secondary_color);
	border: none;
	color: white;
	text-align: left;
	padding: 5px 20px;
	margin-top: 20px;
    font-size: 13px;
    padding: 5px 5px 2px 10px;
    mat-icon{
        font-size: 20px;
    }
}

.colored-text{
    color: $primary_color;
}

.clickable{
    cursor: pointer;
}