<div class="col-md-12 top-bar-container" *ngIf="!visitor">
    <div>
        <ul class="menu-list">
            <li class="clickable logo" style="margin-right:10px;">
                ala alaʻole
            </li>
            <li class="clickable" [routerLink]="['','issues']">
                ISSUES
            </li>
            <li class="clickable" [routerLink]="['','my-issues']">
                MY ISSUES
            </li>
            <li class="clickable " [routerLink]="['','create-issue']">
                + ADD NEW ISSUE
            </li>
            <li class="clickable " [matMenuTriggerFor]="appMenu2" *ngIf="currentUser.role === 1">
                ADMIN DASHBOARD
            </li>
            <mat-menu #appMenu2="matMenu">
                <button mat-menu-item [routerLink]="['','admin-users']"> PENDING USERS </button>
                <button mat-menu-item [routerLink]="['','admin-statistics']"> STATISTICS </button>
            </mat-menu>
        </ul>
    </div>
    <div class="profile-icons-holder float-right">
        <p>{{currentUser.email}}</p>
        <mat-icon [matMenuTriggerFor]="appMenu" class="clickable">more_vert</mat-icon>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item [routerLink]="['','profile']"> PROFILE </button>
            <button mat-menu-item (click)="signOut()"> SIGN OUT </button>
        </mat-menu>
    </div>
</div>

<div class="col-md-12 top-bar-container" *ngIf="visitor">
    <div>
        <ul class="menu-list">
            <li [routerLink]="['']" class="clickable logo" style="margin-right:10px;">
                ala alaʻole
            </li>

        </ul>
    </div>
    <div class="profile-icons-holder float-right">
        <ul class="menu-list-visitor">
            <li [routerLink]="['','login']" class="clickable " style="margin-right:10px;">
                LOGIN
            </li>
            <li [routerLink]="['','register']" class="clickable " style="margin-right:10px;">
                REGISTER
            </li>
        </ul>
    </div>
</div>