@import "../../../assets/variables";

.top-bar-container{
    width: 100%;
    height: 75px;
    background:linear-gradient(to right, $primary_color , $secondary_color);
    >div,img{
        display: inline-block;
    }
    .profile-icons-holder{
        margin-top:23px;
        >p, div{
            color:white;
            display: inline;
        }
        mat-icon{
            color: white;
            vertical-align: sub;
        }
    }
    .menu-list{
        margin-top: 20px;
        .logo{
            font-size: 25px;
            font-weight: bold;
        }
        li{
            letter-spacing: 2px;
            display: inline;
            color:white;
            padding-right:20px;
            font-size:18px;
            &:focus{
                outline: none;
            }
        }
        .add-issue-tab{
            border-bottom:2px solid $secondary_color;
            padding:0px;
        }
    }
}