<div class="col-md-12 top-bar-container">
    <div>
        <ul class="menu-list">
            <li class="clickable logo" style="margin-right:10px;">
                ala alaʻole
            </li>
            <li class="clickable" [routerLink]="['','issues']">
                ISSUES
            </li>
            <li class="clickable" [routerLink]="['','my-issues']">
                MY ISSUES
            </li>
            <li class="clickable " [routerLink]="['','create-issue']">
                + ADD NEW ISSUE
            </li>
            <li class="clickable " [routerLink]="['','admin-dashboard']">
                ADMIN DASHBOARD
            </li>
        </ul>
    </div>
    <div class="profile-icons-holder float-right">
        <p>gherasimraul@yahoo.com</p>
        <mat-icon [matMenuTriggerFor]="appMenu" class="clickable">more_vert</mat-icon>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item [routerLink]="['','profile']"> PROFILE </button>
            <button mat-menu-item (click)="signOut()"> SIGN OUT </button>
        </mat-menu>

    </div>

</div>