<div class="col-md-12 top-bar-container">
    <div>
        <img src="" />
        <ul class="menu-list">
            <li class="clickable" [routerLink]="['issues']">
                ISSUES
            </li>
            <li class="clickable" [routerLink]="['my-issues']">
                MY ISSUES
            </li>
            <li class="clickable add-issue-tab" [routerLink]="['create-issue']">
                + ADD NEW ISSUE
            </li>
        </ul>
    </div>
    <div class="profile-icons-holder float-right">
        <p>gherasimraul@yahoo.com</p>
        <mat-icon class="clickable">more_vert</mat-icon>
    </div>
</div>