@import "../../../assets/variables";

.top-bar-container{
    width: 100%;
    height: 75px;
    background:linear-gradient(to right, $primary_color , $secondary_color);
    >div,img{
        display: inline-block;
    }
    .profile-icons-holder{
        margin-top:23px;
        >p, div{
            color:white;
            display: inline;
        }
        mat-icon{
            color: white;
            vertical-align: sub;
        }
    }
    .menu-list{
        li{
            letter-spacing: 2px;
            display: inline;
            color:white;
            padding:20px;
            font-size:18px;
        }
    }
}