<h2 class="colored-text headline">Pending Users</h2>
<div class="col-md-12 create-issue">
    <agm-map class="map col-md-12 no-padding" [latitude]="initialLocation.latitude" [longitude]="initialLocation.longitude">
        <agm-marker [latitude]="initialLocation.latitude" [longitude]="initialLocation.longitude" (dragEnd)="markerClicked($event)"
            [markerDraggable]="true"></agm-marker>
    </agm-map>
    <div class="col-md-12 users">
        <p *ngIf="users.length!==0">
            <i class="colored-text">Users waiting for aproval:</i>
        </p>
        <p *ngIf="users.length===0">
            <i class="colored-text" style="margin-bottom:0px">There are no users waiting for aproval.</i>
        </p>
        <div class="user-pannel col-md-12" *ngFor="let user of users">
            <p>
                <span class="my-label">Name:</span> {{user.name}}</p>
            <p>
                <span class="my-label">Email:</span> {{user.email}}</p>
            <p>
                <span class="my-label">Gender:</span> {{user.gender}}</p>
            <p>
                <span class="my-label">Age:</span> {{user.age}}</p>
            <button class="simple-button-style" (click)="approveUser(user.id)">
                Approve
            </button>
            <button class="button-gradient" (click)="disapproveUser(user.id)">
                Disapprove
            </button>
            <button class="simple-button-style" (click)="updateMap(user)">
                See Location
            </button>
        </div>
    </div>
</div>
