<h2 class="colored-text headline">Profile Management</h2>
<button class="float-right simple-button-style save-btn">Save
    <mat-icon> check</mat-icon>
</button>

<div class="col-md-12 create-issue">
    <div class="col-md-6 users">
        <p>
            <i class="colored-text">Personal Information:</i>
        </p>
        <div class="user-pannel col-md-12">
            <mat-form-field class="full-width">
                <input class="colored-text" matInput placeholder="Name" required />
                <mat-error>Please enter a valid title</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="email" class="colored-text" matInput placeholder="Email" required />
                <mat-error>Please enter a valid age</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="number" class="colored-text" matInput placeholder="Age" required />
                <mat-error>Please enter a valid age</mat-error>
            </mat-form-field>
        </div>
    </div>
    <input class="colored-text map-input" #search placeholder="Location" />
    <agm-map class="map col-md-6 no-padding" [latitude]="initialLocation.latitude" [longitude]="initialLocation.longitude">
        <agm-marker [latitude]="initialLocation.latitude" [longitude]="initialLocation.longitude" (dragEnd)="markerClicked($event)"
            [markerDraggable]="true"></agm-marker>
    </agm-map>
</div>