<div class="issue col-md-12 no-padding">
    <div class="col-md-6 issue-info-container">
        <h2 class="display-inline score">31</h2>
        <h2 class="colored-text display-inline">first Issue</h2>
        <span class="minus-one display-inline">-</span>
        <span class="plus-one display-inline">+</span>
        <p class="description"> loremlorem lorem loremlorem lorem loremlorem lorem loremlorem lorem loremlorem lorem loremlorem lorem loremlorem
            lorem loremlorem lorem loremlorem lorem loremlorem lorem loremlorem lorem loremlorem lorem loremlorem lorem loremlorem
            lorem loremlorem lorem loremlorem lorem lorem lorem lorem lorem lorem lorem lorem lorem </p>
    </div>
    <agm-map class="map col-md-6 no-padding" [latitude]="2" [longitude]="2">
        <!-- <agm-marker [latitude]="initialLocation.latitude" [longitude]="initialLocation.longitude" (dragEnd)="markerClicked($event)" -->
        <!-- [markerDraggable]="true"></agm-marker> -->
    </agm-map>
    <!-- <div class="col-md-2 no-padding image-container float-right">
        <div class="image-holder">
            <img src="https://maps.uiowa.edu/sites/maps.uiowa.edu/files/styles/large/public/0075.JPG?itok=IGUEOtaX" />
        </div>
        <div class="image-holder">
            <img src="http://www.bd.gov.hk/images/services/english/safety/01home_banner.jpg" />
        </div>
    </div> -->
</div>