@import "../../../assets/variables";

.create-issue{
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
    margin-top:50px;
    height: 400px;
    padding: 0px;
    >div,map{
        display: inline-block;
    }
    .form-create-issue{
        padding:50px;
    }
    .map{
        height: inherit;
        width: 100%;
        float: right;
    }
    .map-input{
        margin-top: -200px;
        position: absolute;
        top: 210px;
        left: 34.3%;
        z-index: 999;
        width: 400px;
        padding: 10px 10px 10px 10px;
        color: #4444f0;
        background-color: white;
        box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
        border: none; 
        &:focus{
            outline: none;
        }    
    }
    .form-textarea{
        height: 100px;
    }
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    .btn{
        border-radius: 0px;
        border: 1px solid $primary_color;
        color:$primary_color;
        padding:5px 10px 5px 10px;
        margin: 0px;
    }

    mat-icon{
        font-size:18px;
        width: 18px;
        height: 18px;
        vertical-align: bottom;
        padding-left: 5px;
        padding-right: 5px;
    }
    .uploded-images{
        color:grey;
        font-size: 14px;
        font-style: italic;
    }
    .spinner{
        vertical-align: bottom;
    }
    
      
}
.headline{
    margin-top:50px;
    border-top:2px solid $primary_color;
    padding-top:10px; 
}

