@import "../../../assets/variables";

.save-btn{
    margin-top:-45px;
}

.issue{
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
    margin:0;
    margin-top:50px;
    margin-bottom:50px;
    height: auto;
    padding: 0px;
    >div,map{
        display: inline-block;
    }
  
    .map{
        height: 400px;
        width: 100%;
        float: right;
    }
    

    .map-input{
        display: none;
        margin-top: -200px;
        position: absolute;
        top: 210px;
        left: 25%;
        margin-left: 400px;
        z-index: 999;
        width: 400px;
        padding: 10px 10px 10px 10px;
        color: $primary_color;
        background-color: white;
        box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.75);
        border:none;    
        &:focus{
            outline: none;
        }    
    }

    mat-icon{
        font-size:18px;
        width: 18px;
        height: 18px;
        vertical-align: bottom;
        padding-left: 5px;
        padding-right: 5px;
    }

    .image-container {
        width: 100%;
        height: auto;
        display: block;
        padding:0px;
        .image-holder{
            box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
            display: inline-block;
            height: 300px;
            padding: 0px;
            width: 100%;
            &:last-child{
                margin-bottom:50px;            
            }
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
    .issue-info-container{
        height: inherit;
        padding:45px;

        .description{
            margin:25px 55px 25px 55px;
            font-size:14px;
            color:grey;
        }
        .score{            
            margin-right: 15px;
            color: grey;
            padding: 5px;
            text-align: center;
            font-size: 23px;
            font-weight: bold;
        }
        .upvote{
            position: absolute;
            font-size: 40px;
            top: 15px;
            left: 37px;
            color: grey;
        }
        .downvote{
            position: absolute;
            font-size: 40px;
            top: 73px;
            left: 37px;
            color: grey;
        }
    }
    .comments-container{
        padding:0px;
        .comment{
            border-bottom:1px solid $primary_color;
            padding:25px 25px 25px 25px;
            >p{
                display: inline;
            }
            .date{
                font-style: italic;
                color: grey;
            }
            .text{
                display: block;
                color:$primary_color;
            }
            mat-icon{
                color:$primary_color;
                cursor: pointer;
                &:hover{
                    color:$secondary_color;
                }
            }
        }
    }
}
.headline{
    margin-top:50px;
    border-top:2px solid $primary_color;
    padding-top:10px; 
}