<h2 class="colored-text headline">Issue Viewer</h2>
<button class="float-right simple-button-style save-btn" *ngIf="!visitor">Save
    <mat-icon> check</mat-icon>
</button>

<div class="col-md-12 issue row ">
    <div class="col-md-6 issue-info-container">
        <mat-icon [ngClass]="{'green': issue.voteStatus === 1}" class="clickable upvote" (click)="upVoteIssue(issue)">keyboard_arrow_up</mat-icon>
        <p [ngClass]="{'green': issue.voteStatus === 1, 'red':issue.voteStatus === -1}" class="display-inline score">{{issue.score}}</p>
        <mat-icon [ngClass]="{'red': issue.voteStatus === -1, 'grey':issue.voteStatus === 0}" class="clickable downvote" (click)="downVoteIssue(issue)">keyboard_arrow_down</mat-icon>
        <h2 class="colored-text display-inline">{{issue.title}}</h2>
        <p class="description"> {{issue.description}}
        </p>
        <div class="col-md-12 comments-container">
            <p class="colored-text" *ngIf="!visitor">Add comment</p>
            <mat-form-field class="full-width" *ngIf="!visitor">
                <textarea minlength="5" [(ngModel)]="comment" matInput name="description" placeholder="Comment"
                    required></textarea>
                <mat-error>Please enter a valid description</mat-error>
            </mat-form-field>
            <button class="button-gradient float-right" (click)="postComment()" *ngIf="!visitor">
                Post
            </button>
            <p class="colored-text">Comments</p>
            <div class="comment" *ngFor="let comment of issue.comments">
                <p>{{comment.user.name}} - </p>
                <p class="date"> {{comment.createdAt}}</p>
                <p class="text">{{comment.text}}</p>
                <mat-icon class="float-right" *ngIf="!visitor">delete</mat-icon>
                <mat-icon class="float-right" *ngIf="!visitor">edit</mat-icon>
            </div>
        </div>
    </div>

    <!-- right column maps and images -->
    <input class="colored-text map-input" #search placeholder="Location" />

    <div class="col-md-6 no-padding">
        <agm-map class="map  no-padding" [latitude]="initialLocation.latitude" [longitude]="initialLocation.longitude">
            <agm-marker [latitude]="initialLocation.latitude" [longitude]="initialLocation.longitude" ></agm-marker>
        </agm-map>
        <div class=" no-padding image-container">
            <div class="image-holder" *ngFor="let photo of issue.photos">
                <img src="{{photo.path}}" />
            </div>
        </div>
    </div>


</div>