<div class="container">
    <div class="logo-cont">
            ala alaʻole
    </div>
    <input class="colored-text map-input" #search placeholder="Location" />
    <agm-map class="map big-map no-padding" [latitude]="initialLocation.latitude" [longitude]="initialLocation.longitude">
        <agm-marker [latitude]="initialLocation.latitude" [longitude]="initialLocation.longitude" (dragEnd)="markerClicked($event)"
            [markerDraggable]="true"></agm-marker>
    </agm-map>

    <div class="mask">

    </div>

    <div class="col-md-12 issue-container">
        <div class="col-md-12 issue no-padding">
            <div class="col-md-6 issue-info-container">
                <p class="display-inline score">22</p>
                <h2 class="colored-text display-inline">titlus</h2>
                <!-- <mat-icon class="voted" *ngIf="issue.voteStatus === 1">check</mat-icon> -->
                <!-- <span class="minus-one display-inline">-</span>
                        <span class="plus-one display-inline">+</span> -->
                <p class="description">descriere
                </p>
                <!-- <div class="col-md-12 no-padding image-container" *ngIf="issue.photos.length!==0">
                    <div class="image-holder">
                        <img src="{{issue.photos[0]?.path}}" />
                    </div>
                    <div class="image-holder float-right">
                        <img src="{{issue.photos[1]?.path}}" />
                    </div>
                </div> -->
            </div>
            <agm-map class=" col-md-6 map  no-padding" [latitude]="initialLocation.latitude" [longitude]="initialLocation.longitude">
                <agm-marker [latitude]="initialLocation.latitude" [longitude]="initialLocation.longitude" (dragEnd)="markerClicked($event)"
                    [markerDraggable]="true"></agm-marker>
            </agm-map>
        </div>

        <div class="col-md-12 issue no-padding">
            <div class="col-md-6 issue-info-container">
                <p class="display-inline score">22</p>
                <h2 class="colored-text display-inline">titlus</h2>
                <!-- <mat-icon class="voted" *ngIf="issue.voteStatus === 1">check</mat-icon> -->
                <!-- <span class="minus-one display-inline">-</span>
                        <span class="plus-one display-inline">+</span> -->
                <p class="description">descriere
                </p>
                <!-- <div class="col-md-12 no-padding image-container" *ngIf="issue.photos.length!==0">
                    <div class="image-holder">
                        <img src="{{issue.photos[0]?.path}}" />
                    </div>
                    <div class="image-holder float-right">
                        <img src="{{issue.photos[1]?.path}}" />
                    </div>
                </div> -->
            </div>
            <div class="col-md-6 no-padding map-container">
                <agm-map class="map  no-padding" [latitude]="initialLocation.latitude" [longitude]="initialLocation.longitude">
                    <agm-marker [latitude]="initialLocation.latitude" [longitude]="initialLocation.longitude" (dragEnd)="markerClicked($event)"
                        [markerDraggable]="true"></agm-marker>
                </agm-map>
            </div>
        </div>
    </div>

</div>