<div class="container">
    <div class="logo-cont">
        ala alaʻole
    </div>
    <input class="colored-text map-input" #search placeholder="Location" />
    <agm-map [zoom]="15"class="map big-map no-padding" [latitude]="initialLocation.latitude" [longitude]="initialLocation.longitude">
        <!-- <agm-marker class="display-none"[latitude]="initialLocation.latitude" [longitude]="initialLocation.longitude" (dragEnd)="markerClicked($event)"
            [markerDraggable]="true"></agm-marker> -->
    </agm-map>

    <div class="mask">

    </div>

    <div class="saying">
        <p>For those moments when you just feel
            <i>ala alaʻole</i>
        </p>
        <p>
            <i>Become a contribuitor now.</i>
        </p>
    </div>

    <div class="buttons">
        <button [routerLink]="['login']" class="clickable">Login</button>
        <button [routerLink]="['register']" class="clickable">Register</button>
    </div>

    <div class="col-md-12 issue-container" id="scrollTo">
        <div *ngIf="boolIssues" style="width:100%;text-align:center;padding:50px;">
            <span  style="border: 1px solid black;padding: 20px">
                There seems like you're living in the perfect area. There are no issues. #goals
                <span style="color:red">&#10084;</span>
            </span>
        </div>

        <div class="col-md-12 issue no-padding" *ngFor="let issue of issues">
            <div class="col-md-6 issue-info-container">
                <p class="display-inline score">{{issue.score}}</p>
                <h2 class="colored-text display-inline">{{issue.title}}</h2>
                <p class="description">{{issue.description}}
                </p>
                <div class="col-md-12 no-padding image-container" *ngIf="issue.photos.length!==0">
                    <div class="image-holder">
                        <img src="{{issue.photos[0]?.path}}" />
                    </div>
                    <div class="image-holder float-right">
                        <img src="{{issue.photos[1]?.path}}" />
                    </div>
                </div>
                <div class="info-holder">
                    <p class="comments">{{issue.commentNumber}} comments</p>
                    <button (click)="navigateToIssue(issue)" class="float-right go-to-issue-btn simple-button-style">See more
                        <mat-icon class=" float-right">arrow_forward</mat-icon>
                    </button>
                </div>
            </div>
            <agm-map class=" col-md-6 map  no-padding" [latitude]="initialLocation.latitude" [longitude]="initialLocation.longitude" [zoom]="15">
                <agm-marker [latitude]="initialLocation.latitude" [longitude]="initialLocation.longitude" (dragEnd)="markerClicked($event)"
                    [markerDraggable]="true"></agm-marker>
            </agm-map>
        </div>

    </div>

</div>