@import "../../../../assets/variables";

.login-box{
    position: absolute;
    top: 50%;
    left: 33.33%;
    width: 400px;
    height: 650px;
    margin-top: -200px;
    margin-left: -100px;
    margin-bottom: 200px;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: -2px 0px 15px -5px rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin-top: -325px;
    .mat-form-field{
        margin-top: 20px;
    }
    .forgot-password-text{
        margin-top:10px;
        font-size:12px;
    }
}

.map{
    margin-top: -325px;
    position: absolute;
    top: 50%;
    left: 33.33%;
    margin-left: 300px;
    width: 400px;
    height: 650px;
    box-shadow: 2px 0px 15px -5px rgba(0,0,0,0.5);
}
.map-input{
    margin-top: -318px;
    position: absolute;
    top: 50%;
    left: 28%;
    margin-left: 415px;
    z-index: 999;
    width: 370px;
    padding: 10px 10px 10px 10px;
    color: $primary_color;
    background-color: white;
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
    border:none;    
    &:focus{
        outline: none;
    }    
}